@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
.attribution {
  font-size: 11px; text-align: center;
  a {
    color: hsl(228, 45%, 44%)
  }
}

html,body{
  box-sizing: border-box;
  height: 100vh;
  font-family: "DM Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center

}
html{
  background: hsl(27, 66%, 92%);
  .container {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    .container_title{
      background: hsl(10, 79%, 65%);
      padding: 0 1.2em 0 1.2em;
      display: flex;
      flex-direction: row;
      border-radius: 0.8em;
      color: hsl(33, 100%, 98%);
      justify-content: space-between;

      h5{
        margin-bottom: -16px;
      }
    }
    .container_chart{
      background: white;
      padding: 0 1.2em 0 1.2em;
      border-radius: 0.8em;
      display: flex;
      flex-direction: column;
      .chart_wrapper{
        padding-bottom: 2em;
      }
      .chart_bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 1em;
        border-top: #f8e9dd solid 1px;

        p:first-child{
          color: #7e7d7d;
          margin-bottom: -16px;
        }
        h5{
          text-align: end;
          margin-bottom: -16px;
        }
        p:last-child {
        text-align: end;
          color: #7e7d7d;
      }
      }
    }
  }
}

@media screen and (min-width: 375px) {

  .container{
    max-width: 60%;
    min-width: 360px;
    padding: 0.4em 2.6em 0.8em 2.6em;

  }

}
@media screen and (max-width: 375px) {

  .container {
    max-width: 80%;
    min-width: 260px;
    padding: 0.4em 1.6em 0.8em 1.6em;
  }
}
